# Project exclude paths
/.gradle/
/build-logic/.gradle/
/build-logic/build/
/dispatch-core/build/
/dispatch-koin/build/
/dispatch-layout/build/
/dispatch-lifecycle/build/
/dispatch-navigation/build/
/dispatch-renderer/build/
/dispatch-runtime/build/
/dispatch-sample/build/
/dispatch-update/build/
/dispatch-update-apt/build/
/dispatch-update-brew/build/
/dispatch-update-github/build/
/dispatch-update-scoop/build/
/dispatch-workspace/build/
/dispatch-viewmodel/build/
/dispatch-widgets/build/
